<h2>Register as Barber</h2>

{{#if errors }}
  <ul>
    {{#each errors }}
      <li>{{ this.msg }}</li>
    {{/each }}
  </ul>
{{/if }}

<form action="/registerBarber" method="post" enctype="multipart/form-data">
	Username:
	<input type='text' name='username' maxlength='36' value='{{ info.username }}'><br>
	Password:
	<input type='password' name='password' value='{{ info.password }}'><br>
	Email:
	<input type='email' name='email' maxlength="320" value='{{ info.email }}'><br>
	Birthday:
	<input type='date' name='birthday' value='{{ info.birthday }}'><br>

	First Name:
	<input type='text' name='firstname' maxlength="50" value='{{ info.firstname }}'><br>
	Middle Name:
	<input type='text' name='middlename' maxlength="50" value='{{ info.middlename }}'><br>
	Last Name:
	<input type='text' name='lastname' maxlength="50" value='{{ info.lastname }}'><br>
	Gender:
	<input type='text' name='gender' maxlength="1" value='{{ info.gender }}'><br>

	Address:
	<input type='text' name='address' value='{{ info.address }}'><br>
	City:
	<input type='text' name='city' value='{{ info.city }}'><br>
	Country:
	<input type='text' name='country' value='{{ info.country }}'><br>
	Post Code:
	<input type='text' name='postcode' maxlength="15" value='{{ info.postcode }}'><br>
	Phone Number:
	<input type='text' name='phonenumber' maxlength="50" value='{{ info.phonenumber }}'><br>

	Profile Picture:
	<input type='file' name='profilepicture' value='{{ info.profilepicture }}'><br>
	Years Cut:
	<input type='number' name='yearscut' min='0' value='{{ info.yearscut }}'><br>
	Description:
	<textarea name="description" rows="10" cols="30" value='{{ info.description }}'></textarea><br>
	<input type="submit"> <input type="reset">
</form>